/* p {
border: 4px solid burlywood;
} */
:root {
    --color-brand: rgba(129, 155, 87, 1);
    --color_primary_light: #FAF4EA;
    --color-primary-dark: rgba(49, 38, 26, 1);
}

body {
    color: black
}
ul {
    list-style-type: none;
}
.moder_bakery {
    color: #FAF4EA;
}
.moder_bakery .span1{
    color:var(--color-brand);
}

.benefits_list {
    background-color: var(--color-brand);
    color: #FAF4EA;
}

.button {
    color: var(--color_primary_light);
    border: 2px solid rgba(129, 155, 87, 1);
    background-color: var(--color-brand);
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    color: rgba(70, 89, 41, 1);
}

.button:active {
    background-color: hotpink;

}

.button[disabled] {
    border: 4px solid brown;
}

.traditions_section { color: violet;}

.link {
    color: var(--color_primary_light);
}

.link:hover {
    color: var(--color-brand);
}

.section_title {
    color: var(--color-primary-dark);
}

.section_title .span1 {
    color: var(--color-brand);
}