/* https: //gwfh.mranftl.com/fonts <-- for fonts  */
/* @font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/roboto-v49-latin-100.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/roboto-v49-latin-200.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v49-latin-300.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v49-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v49-latin-500.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/roboto-v49-latin-600.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v49-latin-700.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/roboto-v49-latin-800.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v49-latin-900.woff2') format('woff2');
} */

:root {
    --color-brand: rgba(129, 155, 87, 1);
    --color_primary_light: #FAF4EA;
    --color-primary-dark: rgba(49, 38, 26, 1);
}

body {
    color: black;
    font-family: Roboto, monospace;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
ul {
    list-style-type: none;
}
.moder_bakery {
    color: #FAF4EA;
    font-size: 128px;
}
.moder_bakery .span1{
    color:var(--color-brand);
}

.benefits_list {
    background-color: var(--color-brand);
    color: #FAF4EA;
}

.button {
    color: var(--color_primary_light);
    border: 2px solid rgba(129, 155, 87, 1);
    background-color: var(--color-brand);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.button:hover {
    background-color: transparent;
    color: rgba(70, 89, 41, 1);
}

.button:active {
    background-color: hotpink;

}

.button[disabled] {
    border: 4px solid brown;
}

.traditions_section { 
    color: violet;
    font-weight: 600;
}

.link {
    color: var(--color_primary_light);
    line-height: 1.5;
    text-decoration: none;
}

.link:hover {
    color: var(--color-brand);
    font-weight: 600;
}

.section_title {
    color: var(--color-primary-dark);
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

.section_title .span1 {
    color: var(--color-brand);
}

.benefits_item {
    font-size: 20px;
    font-weight: 300;
}

.format-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 0.5
    ;
}